[user]
	name = buschco
	email = colin@busch.dev
	signingkey = F5F293E85EA0AA19 
[credential]
	helper = !aws codecommit credential-helper $@
	UseHttpPath = true
[pull]
	rebase = true
[push]
        default = current
[alias]
	s = status
	br = branch
	pu = push
	co = checkout
	git = !exec git
	gti = !exec git
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  plg = log --format='%h %s <%an>'
	dog = log --all --decorate --oneline --graph
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = /Users/colin/.gitignore_global
	editor = nvim
	trustctime = false
[commit]
	gpgsign = true
[gpg]
	program = gpg

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
  defaultBranch = main
[help]
 autocorrect = 1
[push]
	autoSetupRemote = true
